{% extends "layout.html" %}

{% block content %}

  <h1>Create Post</h1>
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset>
        <legend class="border-bottom mb-4">{{ legend }}</legend>
        <div>
          {{ form.name_title.label(class="form-control-label") }} <!-- Create form using the forms classes, this displays the text discription --> 
          {{ form.name_title(class="form-control form-control-lg") }} <!-- Code for the actual text input field -->
        </div>
        <div>
          {{ form.content.label(class="form-control-label") }}
          {{ form.content(class="form-control form-control-lg") }}
        </div>
      </fieldset>
      <br>
      <div>
        {{ form.submit(class="btn btn-outline-info")}}
      </div>
    </form>
{% endblock content %}
  