<!doctype html>

<html lang="en">
<head>
  <title></title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <header>

    
    <div class="container">
        <div class="logo">
            <h2>Social Tracking</h2>
        </div>
        
        <nav>
            <ul>
                <li><a href="#">Login</a></li>
                <li><a href="#">Register</a></li>

            </ul>
        </nav>

    </div>
</header>

<h1>The future of combating COVID-19</h1>

  
<div class="left">  
  <article>
    <h2>The Corona Virus</h2>
    <p>Integer rutrum cursus diam, ut auctor elit malesuada id. Mauris nec arcu condimentum, gravida mauris vitae, molestie risus. 
      Ut eget imperdiet diam, sed aliquam elit. Pellentesque non neque vitae neque vulputate volutpat tincidunt quis arcu. In hac 
      habitasse platea dictumst. In vel urna leo. Nulla facilisi. Maecenas volutpat nunc a aliquam tristique. Nam eros erat, egestas 
      quis lectus eu, luctus euismod metus. Aliquam ut leo ultrices, rhoncus ante vehicula, feugiat sapien. Duis ac lorem a nibh sodales
      finibus. Donec pulvinar dui diam, ut euismod lorem imperdiet ac.</p>
  </article>
</div>

<div class="right">
<article>
    <h2>How we help to combat the spread of the virus</h2>
    <p>Integer rutrum cursus diam, ut auctor elit malesuada id. Mauris nec arcu condimentum, gravida mauris vitae, molestie risus. 
      Ut eget imperdiet diam, sed aliquam elit. Pellentesque non neque vitae neque vulputate volutpat tincidunt quis arcu. In hac 
      habitasse platea dictumst. In vel urna leo. Nulla facilisi. Maecenas volutpat nunc a aliquam tristique. Nam eros erat, egestas 
      quis lectus eu, luctus euismod metus. Aliquam ut leo ultrices, rhoncus ante vehicula, feugiat sapien. Duis ac lorem a nibh sodales
      finibus. Donec pulvinar dui diam, ut euismod lorem imperdiet ac.</p>
  </article>
  
</div>
</body>
</html>